.с-head h1{
  font-size: 20pt;
}

.g-recaptcha{
  position: relative;
  display: grid;
  left: -11px;
}
.c-game-block{
  height: 250px;
  .c-game-image{
    height: 250px;
  }
  .c-game-cont{
    .c-game-info-row:nth-child(2) {
      small:after {
        content: "";
        display: block;
        clear: both;
      }
      small{
        overflow: hidden;
        width: 65px;
        white-space: nowrap;
        text-align: left;
      }
    }
    .c-game-info-row{

    }
    .c-game-info-row:last-child{
      text-align: left;
    }
    .c-game-info{
      height: 160px;
    }
  }
}
.b-common-wrap {
  .b-page-content__wrap{
    .g-links{
      a:before {
        content: '';
        width: 1px;
        height: 20px;
        background-color: #5e6065;
        display: block;
        position: absolute;
        top: -1px;
        left: -16px;
      }
      a{
        font-size: 15pt;
        line-height: 15pt;
        height: 25px;
        margin-bottom: 5px;
        display: flex;
      }
    }
  }
}

.m-game-cont:hover{

}
.m-game-cont{
  max-height: 270px;
  &:hover{
   .m-game-cont-wrap{
     -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
     -o-transform: translateY(0);
     transform: translateY(0);
   }
  }

  .m-game-cont-wrap{
    -webkit-transform: translateY(190px);
    -moz-transform: translateY(190px);
    -o-transform: translateY(190px);
    transform: translateY(190px);
    display: inline-grid;
    .m-game-tag{
      margin-top: 5px;
    }
    .m-game-more{
      padding: 10px 0;
      margin: 0
    }
  }
}
.b-common-wrap.home-page{
 .icon_type_browser{
   display: none;
 }
}

.payment-form{
  .expiration-date, .field-card-cvv{
    width: 100%;
  }
  .field-card-cvv{
    padding-top: 10px;
  }
}
