/* Стили которые относятся только к футеру на мобильной версии */

.c-footer-wrap{

  .c-footer-menu{
    width: 100%;
  }

  .c-footer-menu:nth-child(3){
    h4{
      text-align: left;
    }
    margin: auto;
    text-align: left;
  }

  .c-footer-col{
    width: 45%;
  }
}