/* Стили которые относятся только к слайдеру на мобильной версии */

#m-slider {

  .m-slide-shadow{
    height: 150px;
  }

  .icon {
    background-image: url("/www/asset/image/sprite/nav_icon.webp");
  }

  width: 100% !important;
  height: 365px;
  margin-bottom: 10px;
  //margin-top: 70px;

  .m-slider-prev, .m-slider-next {
    width: 50px;
    top: 0;
    .icon{
      top: 20%;
    }
  }

  .m-slide {
    height: 150px !important;
    .m-slide-back {
      background-size: cover;
      max-width: 100%;

    }
    .m-slide-content {
      width: 100%;
      right: 0;
      top: 0;

      img {
        margin: auto;
        padding: 0;
      }

      p {
        font-size: 13pt;
        padding: 10px 50px;
        max-width: 400px;
        margin-left: auto;
      }

      .m-game-btn {
        margin: auto;
        width: 300px;
      }
    }
    .m-slide-logo {

    }
  }
}