body {
  .mobile__menu, .is-hidden{
    display: none;
  }

  #m-slider {
    width: 100% !important;
  }

  .m-slide-content p {
    padding-right: 100px;
  }

  .popup-payment .popup-content-main iframe {
    height: 590px;

  }

  .payment-form .price {
    margin-bottom: 15px;
  }

  .g-recaptcha{
    width: 304px;
    margin: auto;
    div{
      width: 100% !important;
      iframe {
        .rc-anchor{
          width: 100%;
        }
      }
    }
  }

  @import "mobile_768/icon";
}

@media (min-width: 768px) {
  .global-page-content{
    .about-col{
      width: 49%;
    }
  }
  .page-mobile.p-main{
    .b-common-wrap {
      .b-container{
        .b-page-content__wrap{
          padding-top: 55px;
        }
      }
    }
    .g-page-content{
      .a-col{
        width: 49%;
      }
    }
  }
  .js-swap-grid {
    .g-head_cont .g-crumbles {
      top: 55px;
    }
    .g-page-content__left {}
    .g-page-content__right {
      position: absolute;
      top: 355px;
      right: 0;
      &.js-no-banner {
        top: 160px;
      }
    }
    .global-content-side{
      position: absolute;
      top: 430px;
      right: 20px;
      &.js-no-banner {
        top: 160px;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;

    @import "mobile_768/header";
    @import "mobile_768/slider";
    @import "mobile_768/text";
    @import "mobile_768/footer";
    @import "mobile_768/modal";
    @import "mobile_768/home";

    &.page-en-mobile {
      @import "mobile_768/page-en";
      @import "mobile_768/modal-en";
    }

    &.page-mobile {
      @import "mobile_768/page";
    }

    //.icon {
    //  background-image: url("/www/asset/image/sprite/user_icon.webp");
    //}
  }
}
@media (max-width: 620px) {
  body .c-footer-wrap .c-footer-col {
    width: 100%;
  }
}
@media (max-width: 425px) {
  body {

    @import "mobile_420/home";
    @import "mobile_420/footer";
    @import "mobile_420/slider";
  }
}
@media (max-width: 320px) {
  body.page-mobile {

    @import "mobile_320/page";

  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  #recoverForm{
    .b-popup-form__row:nth-child(1),.b-popup-form__row:nth-child(3){
      width: 49%;
      float: left;
    }
    .b-popup-form__row:nth-child(2),.b-popup-form__row:nth-child(4){
      margin-left: 2%;
      width: 49%;
      float: left;
    }
    .b-popup-form__row{
      input, select {
        width: 100%;
      }
      &.captcha{
        height: 40px;
        width: 100%;
        img{
          height: 40px;
          float: left;
        }
        svg {
          width: 35px;
          height: 35px;
          float: left;
          margin: 4px 20px;
        }
        input{
          float: right;
          width: 150px;
        }
      }
    }
  }
}

@media (max-height: 700px) {
  body .auth_modal .b-popup, body .support_modal .b-popup {
    padding-top: 20px;
  }
  body .auth_modal .b-close, body .support_modal .b-close {
    top: 25px;
  }
}

.clear_fix{
  content: "";
  display: table;
  clear: both;
}