/* Стили которые относятся только к футеру на мобильной версии */

.c-footer-wrap{

  .c-footer-menu{
    width: 49%;
    h4{
      font-size: 14pt;
    }
    a{
      padding: 5px 0 6px;
      font-size: 12pt;
    }
  }

  .c-footer-menu:nth-child(3){
    h4{
      text-align: center;
    }
    margin: auto;
    text-align: center;
  }

  .c-footer-col{
    width: 45%;

  }
}