.g-header, .global-header {
  display: none;
}

header {
  display: none;
}

.g-header_profile_data_item .g-header_sub_menu.active, .g-header_menu_item .g-header_sub_menu.active {
  display: block;
}
.g-header_profile_data_item .g-header_sub_menu:not(.active), .g-header_menu_item .g-header_sub_menu:not(.active) {
  display: none;
}

.mobile__menu {
  border-top: 5px solid #fe1b50;
  display: block;
  position: fixed;
  width: 100%;
  min-height: 50px;
  top: 0;
  left: 0;
  background: #1b1d25;
  z-index: 20;
  border-bottom: 1px solid #14161c54;
  box-shadow: 0px -2px 10px 0px black;

  &.js-mobile-menu.active{
    height: 100%;
    //overflow: overlay;
    overflow: auto;
    //position: absolute;
  }
  &.js-mobile-menu {
    //position: fixed;
  }


  .menu__header {

    .header__logo {
      height: 50px;
      width: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 10px;

      &:hover {
        background-image: url("/www/asset/image/logo/logo_big_horizontally_hover.png");
      }
      background-image: url("/www/asset/image/logo/logo_big_horizontally.png");
    }
    .header__icon {
      &.active {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3E%3Cpath fill='%23fff' d='M174.283 149.996l118.56-118.56c8.288-8.289 9.55-20.426 2.858-27.141-6.707-6.708-18.859-5.414-27.148 2.858L149.994 125.722 31.434 7.154C23.162-1.118 11.009-2.412 4.301 4.296c-6.699 6.699-5.429 18.852 2.867 27.141l118.56 118.56L7.168 268.556c-8.296 8.288-9.566 20.425-2.867 27.148 6.708 6.707 18.861 5.414 27.133-2.858l118.56-118.561 118.559 118.561c8.289 8.272 20.441 9.565 27.148 2.843 6.691-6.708 5.43-18.845-2.858-27.133l-118.56-118.56z'/%3E%3C/svg%3E") 50% no-repeat;
      }

      width: 30px;
      height: 30px;
      background-size: 100%;
      position: absolute;
      right: 20px;
      top: 20px;
      transition: 0.6s;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 14'%3E%3Cpath fill='%23fff' d='M0 14h20v-2H0v2zm0-6h20V6H0v2zm0-8v2h20V0H0z'/%3E%3C/svg%3E") 50% no-repeat;
    }
  }

  .menu__container{
    .g-header_menu{
      display: table;
      width: 100%;
      .has_submenu.active a:after{
        transform: rotate(180deg);
      }
      .has_submenu a:after{
        content: "";
        background-image: url(/www/asset/image/sprite/nav_icon.webp);
        background-position: 0 -29px;
        top: -14px;
        right: -150px;
        position: relative;
      }
      .has_submenu a {
        padding-top: 20px;
      }
      .g-header_menu_item{
        display: grid;
        width: 250px;
        text-align: center;
        margin: auto;
        &.g-header_profile{
          .b-btn{
            height: auto;
            width: 150px;
            font-size: 11pt;
            line-height: 11pt;
            padding: 10px;
            margin-top: 15px;
          }
        }
        &.g-header_menu_item_w-150{
          width: 150px;
          border-bottom: 1px solid #dcdcdc2e;
          padding-bottom: 15px;
          margin-bottom: 15px;
        }
        &.g-header_profile_data_avatar{
          width: 150px;
          padding-top: 15px;
          height: auto;
          padding-left: 0;
          padding-right: 0;
          border-top: 1px solid #dcdcdc2e;
          img{
            text-align: center;
            margin: auto;
            border-radius: 150px;
            width: 100px;
          }
          span{
            font-size: 16pt;
            margin-top: 15px;
            line-height: 15pt;
            border-bottom: 1px solid #dcdcdc2e;
            padding-bottom: 15px;
          }
        }
        .menu__link:last-child{
          width: 125px;
          padding: 10px 0;
        }
        .menu__link:first-child{
          width: 65px;
        }
        .menu__link{
          margin: auto;
          color: #e79624;
          border-bottom: 1px dashed #ffa525;
          text-decoration: none;
        }
        a{
          color: white;
          text-decoration: none;
          font-size: 15pt;
          padding: 10px;
        }
        .g-header_sub_menu{
          background: none;
          &.active {
            display: grid;
          }

          a {
            background: none;
            margin-top: 10px;
            padding-bottom: 0;
            border: none;
            width: 120%;
            left: -10%;
          }

          display: none;
          width: 100%;
          position: relative;
          padding: 0;
          top: 0;
          //left: -55px;
          img {
            width: 60px;
            float: left;
          }
          a:nth-child(1), a:nth-child(2), a {
            border-top: 2px solid #3a3a3a;
          }
          a:last-child {
            border-bottom: 2px solid #3a3a3a;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}