/* Стили которые относятся только к главной страници на мобильной версии */

.m-game-cont {
  margin-bottom: 10px;
  max-height: 250px;
  &.x1, &.x2 {
    width: 100%;
  }

  .m-game-cont-wrap{
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -o-transform: translateY(170px);
    transform: translateY(170px);
  }
}

.m-text {
  h1 {
    text-align: center;
    //margin: auto;
    //max-width: 340px;
    color: #ffa525;
    margin-bottom: 25px;
  }
}

.m-col {
  border-top: 1px solid #dcdcdc21;
  padding: 25px 100px;
  width: 100%;
}
.m-game-desc{
  height: 80px;
}
.c-footer {
  height: auto;
  position: relative;
}