
.lSAction > .lSPrev:after, .lSAction > .lSNext:after {
  background-image: url("/www/asset/image/sprite/nav_icon.webp");
}

.block__flags{
  .icon_germany {
    background-image: url("/www/asset/image/icon/germany.png");
  }
  .icon_france {
    background-image: url("/www/asset/image/icon/france.png");
  }
  .icon_usa {
    background-image: url("/www/asset/image/icon/usa.png");
  }
}
.c-footer-wrap{
  .icon{

    &.icon_18{
      background-image: url("/www/asset/image/sprite/nav_icon.webp");
    }
    &.icon_soc4{
      background-image: url("/www/asset/image/sprite/icon_instagramm.png");
    }
    &.icon_soc5{
      background-image: url("/www/asset/image/sprite/icon_discord.webp");
    }

    background-image: url("/www/asset/image/sprite/icon_social.webp");
  }
}
.b-common-wrap.home-page{
  .icon {
    background-image: url("/www/asset/image/sprite/user_icon.webp");
  }
}

.icon.icon-coin {
  background-image: url("/www/asset/image/sprite/coins.png");
}

.icon {
  &.icon-settings1, &.icon-settings2, &.icon-settings3, &.icon-settings4, &.icon-settings5, &.icon-settings6, &.icon-settings7, &.icon-smile, &.icon-plus, &.icon-history-down, &.icon-history-up {
    background-image: url("/www/asset/image/sprite/icons_profile.png");
  }
  &.icon_money{
    background-image: url("/www/asset/image/sprite/nav_icon.webp");
  }
  &.icon-sign-facebook {
    background-position: 42px 0;
    background-image: url("/www/asset/image/sprite/icons_soc.png");
  }
}

.b-common-wrap {
  .a-icon .icon.icon_about2 {
    background-image: url("https://www.creagames.com/v3/img/about-logo.png");
  }
  .a-icon .icon{
    background-image: url("https://www.creagames.com/v3/img/about/xicons.png.pagespeed.ic.-xAjnvSH2d.webp");
  }
  .icon {
    &.icon-soc1-big, &.icon-soc2-big, &.icon-soc3-big {
      background-image: url("/www/asset/image/sprite/icons_soc.png");
    }

    background-image: url("/www/asset/image/sprite/icons_profile.png");
  }
  .c-pay-row {
    margin-right: 0;
    .c-pay-col {
      min-width: 48%;
      margin: 0 2% 2% 0;
      display: block;
      float: left;
      width: 48%;
    }
    .icon {
      background-image: url("/www/asset/image/sprite/coins.png");
    }
  }
}

.about-icon{
  .icon{
    padding-top: 15px;
  }
}

#m-slider{
  .m-slide-shadow{
    background-image: url(/www/asset/image/sprite/slider.webp);
    position: absolute;
    height: 365px;
  }
  .icon {
    background-image: url("/www/asset/image/sprite/nav_icon.webp");
  }
}