.popup{
  .b-close {
    background-image: url(/www/asset/image/sprite/nav_icon.webp);
    background-position: 0 -171px;
  }
  .js-modal-close{
    height: 16px;
    width: 16px;
    position: absolute;
    right: 20px;
    z-index: 1000;
  }
  .popup-content{
    width: 100%;
    top: 0 !important;
    transform: none;
    height: auto;
    padding-top: 100px;
  }
  .popup-title{
    text-align: center;
  }
  .global-form{
    .form-input::placeholder {
      color: rgba(255, 255, 255, 0.65);
    }
    .b-error::placeholder{
      color: rgba(255, 28, 81, 0.65) !important;
    }
    .b-error{
      border: 2px solid rgba(255, 28, 81, 0.65) !important;
      color: #ff1c51 !important;

      .selectize-input{
        border: none;
        color: #ff1c51 !important;
      }
    }

    .form-input:active, .b-input:hover {
      border: 2px solid white;
    }

    input.b-date.b-input {
      text-indent: 1px;
    }

    input.b-input {
      text-indent: 15px;
    }

    textarea.form-input {
      text-indent: 10px;
    }

    .form-select{
      background: none;
    }
    .form-input, .selectize-input  {
      background: none;
      border: 2px solid rgba(255, 255, 255, 0.65);
      padding: 10px 20px 10px 0px;
      //height: 40px;
      color: white;
    }
  }
}

.mobile__menu .menu__container .g-header_menu .g-header_menu_item .g-header_sub_menu.active {
  left: -35px;
}