#signupModal, #loginModal {
  .block__flags {
    padding-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
  }
}
#recoverModal, #changeNicknameModal {
  input.b-input {
    width: 270px;
  }

  input.b-input::placeholder {
    text-align: center;
  }
}

._visible {
  display: block;
  background: #181b22;
}

.auth_modal, .support_modal {
  z-index: 10;
  padding-top: 20px;

  .block__flags {
    margin-top: 45px;
    border-bottom: none;
  }

  .popup__icon {
    &.icon__close {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3E%3Cpath fill='%23fff' d='M174.283 149.996l118.56-118.56c8.288-8.289 9.55-20.426 2.858-27.141-6.707-6.708-18.859-5.414-27.148 2.858L149.994 125.722 31.434 7.154C23.162-1.118 11.009-2.412 4.301 4.296c-6.699 6.699-5.429 18.852 2.867 27.141l118.56 118.56L7.168 268.556c-8.296 8.288-9.566 20.425-2.867 27.148 6.708 6.707 18.861 5.414 27.133-2.858l118.56-118.561 118.559 118.561c8.289 8.272 20.441 9.565 27.148 2.843 6.691-6.708 5.43-18.845-2.858-27.133l-118.56-118.56z'/%3E%3C/svg%3E") 50% no-repeat;
    }
  }

  .b-close {
    background-image: url(/www/asset/image/sprite/nav_icon.webp);
    background-position: 0 -171px;
    top: 105px;
    right: 25px;
  }

  .b-popup {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 10;
    padding-top: 100px;

    .b-btn {
      padding: 5px 50px;
      min-height: 40px;
      height: auto;
      font-size: 15pt;
    }

    .g-recaptcha{
      div{
        margin: auto;
      }
    }
    .b-popup__footer{
      width: 100%;
      //margin: auto;
      //max-width: 325px;
      text-align: center;
      font-size: 11pt;
      padding: 20px 0;
      border-top: 1px solid #ffffff1c;
      a{
        color: #e79624;
        border-bottom: 1px dashed #ffa525;
        text-decoration: none;
        padding: 0;
        font-size: 9pt;
      }
    }

    select, .b-date {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .b-file-title{
      cursor: pointer;
      width: auto;
      float: left;
      text-align: left;
      color: #e79624;
      border-bottom: 1px dashed #ffa525;
      text-decoration: none;
      padding-bottom: 5px;
    }
    .b-file{
      display: none;
      color: white;
    }

    .b-popup-form__link {
      border-bottom-style: dotted;
      text-decoration: none;
      font-size: 14pt;
    }
    .b-input::placeholder {
      color: rgba(255, 255, 255, 0.65);
    }
    .b-error::placeholder{
      color: rgba(255, 28, 81, 0.65) !important;
    }
    .b-error{
      border: 2px solid rgba(255, 28, 81, 0.65) !important;
      color: #ff1c51 !important;
    }
    .b-error-label {
      margin-top: 10px;
      width: 250px;
      display: block;
      font-size: 11pt;
      color: #ae1b40;
      text-align: left;
    }

    .b-input:active, .b-input:hover {
      border: 2px solid white;
    }

    input.b-date.b-input {
      text-indent: 1px;
    }

    input.b-input {
      text-indent: 15px;
    }

    .form-select.b-input {
      text-indent: 15px;
    }

    .captcha{
      img{
        width: 75px;
        float: left;
      }
      svg{
        width: 25px;
        height: 25px;
        float: left;
        margin: 8px 10px;
      }
      .b-input{
        width: 100px;
        float: right;
      }
    }

    .b-input {
      background: none;
      border: 2px solid rgba(255, 255, 255, 0.65);
      padding: 10px 20px 10px 0px;
      height: 40px;
      color: white;
    }
    .b-popup__title {
      text-align: center;
    }
    .b-popup__content {
      max-width: 325px;
      margin: auto;
    }
    .b-popup-row-bottom {
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      border-bottom: 1px solid #20222a;
      border-radius: 0;
      padding-bottom: 20px;
    }
    .b-popup-form__row, .b-login-form__row, .b-registration-form__row {
      display: table;
      height: auto;
      margin: auto;
      position: relative;
      margin-bottom: 15px;
    }
    .b-checkbox__custom.act:before {
      height: 9px;
      transform: rotate(-45deg);
      transform-origin: 2px 9px;
      margin-left: -2px;
    }
    .b-checkbox__custom.act:before, .b-checkbox__custom.act:after {
      content: '';
      width: 3px;
      background: #ffa422;
      position: absolute;
      left: 50%;
      bottom: 7px;
    }
    .b-checkbox__custom.act:before, .b-checkbox__custom.act:after {
      content: '';
      width: 3px;
      background: #ffa422;
      position: absolute;
      left: 50%;
      bottom: 7px;
    }
    .b-checkbox__custom.act:after {
      height: 13px;
      transform: rotate(45deg);
      transform-origin: 2px 13px;
      margin-left: -3px;
    }
    .b-checkbox__label.small {
      font-size: 12pt;
    }
    .b-checkbox__label {
      font-size: 15pt;
      padding-top: 1px;
    }
    .b-checkbox__custom {
      position: relative;
      /* float: right; */
      width: 28px;
      height: 28px;
      border: 2px solid #d0cfcc;
      /* background: #fafafa; */
      right: 0;
      top: 0;
      border-radius: 5px;
      margin-bottom: 5px;
      margin-right: 10px;
    }
  }
}

.support_modal {

  .b-popup-form__row.b-row-4{
    .b-input-small {
      width: 23%;
      margin: 0;
      float: left;
    }
    .b-input-small:nth-child(2), .b-input-small:nth-child(3), .b-input-small:nth-child(4) {
      margin-left: 2.5%;
    }
  }

  .b-popup-form__row {
    width: 100%;

    .b-textarea {
      background: none;
      border: 2px solid rgba(255, 255, 255, 0.65);
      padding: 10px;
      color: white;
      margin-bottom: 0;
    }
    .icon_calendar {
      right: 15px;
      display: block;
      width: 15px;
      height: 22px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath fill='white' d='M2 7v3h3V7zm3 5H2v3h3zm.44 4.94L2 17v3h3v-3zM10 15v-3H7v3zm5 0v-3h-3v3zm5 0v-3h-3v3zm-3 2v3h3v-3zm-5 0v3h3v-3zm-5 0v3h3v-3zm3-7V7H7v3zm5 0V7h-3v3zm5 0V7h-3v3zm2-9v21H0V1z'/%3E%3C/svg%3E") 50% no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 23px;
      transform: translateY(-60%);
      pointer-events: none;
    }

    input, select {
      width: 100%;
    }

    .b-date {
      padding: 10px 30px 10px 10px;
    }
    .b-date::-webkit-inner-spin-button {
      -webkit-appearance: none;
      display: none;
    }

    select.b-input {
      background: #181b22;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7'><path style='fill:white' d='M.55 1.5L1.96.09 5.5 3.62 9.03.1l1.42 1.41L5.5 6.45z'/></svg>");
      background-repeat: no-repeat;
      background-position: right 20px top 16px;
    }
  }
}

.b-message ~ .b-common-wrap.js-mobile-content {
  margin-top: 0;
  .b-page-content{
    padding-top: 0;
  }
  .g-crumbles{
    padding-top: 0;
  }
}
.b-message{
  width: 100%;
  position: relative;
  top: 0;
  margin-top: 100px;
  margin-bottom: 0;
  .b-container {
    padding: 0 20px 0 20px !important;
  }
  .b-message__text:before{
    top: 10px;
    left: 10px;
    position: absolute;
  }
  .b-message__text{
    height: auto;
    display: grid;
    p {
      margin-left: 35px;
      float: left;
    }
  }
}
.g-header_sub_menu a span {
  margin-left: 65px;
  font-size: 14pt;
  display: block;
}
.g-header_sub_menu a small {
  font-size: 10pt;
  color: #536975;
  display: block;
  padding-top: 10px;
}
.alertify-logs{
  width: 92%;
  left: 4%;
}

#popup-servers{

}