.b-container, .b-page-content {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 10px;
  .c-user-block {
    margin-top: 0;
  }
  .g-tabs_cont{
    .tab_news.nano{
      width: 100%;
    }
  }
}

.b-popup-form__row.grid{
  display: grid;
}
.b-card.b-input{
  padding: 10px;
  text-indent: 5px !important;
}
.selectize-input{
  min-height: 40px;
}

.b-btn:disabled {
  background: gray;
}
.b-common-wrap {
  padding-bottom: 0;
  margin-top: 70px;
  .g-page-content{
    .a-col:nth-of-type(even) {
      padding: 0;
    }
    .a-col{
      width: 100%;
      .a-form{
        .g-recaptcha{
          margin: 0px -106px -30px 0;
        }
        .a-submit{
          margin-bottom: 10px;
        }
        form{
          width: 100%;
          height: auto;
          display: table;
        }
        .form-group.field-feedbackform-recaptcha{

        }
        .feedbackform-comment{
          padding: 10px 0;
        }
        .selectize-input, .selectize-input.full, .selectize-input.input-active {
          padding: 0px 10px 0px;
        }
        .a-col:nth-of-type(even), .a-col:nth-of-type(odd){
          padding: 10px 0;
        }
        .select_js{

        }
      }
      &.a-specific{
        padding: 10px 0;
      }
    }
  }
  .b-page-content__wrap {
    margin-bottom: 0;
    .g-head_cont{
      height: 100px;
      position: relative;
      display: table;
      width: 100%;
      .g-head{
        top: 0;
        padding-top: 25px;
        width: 100%;
        position: relative;
        padding-bottom: 12px;
        .g-button{
          margin: 0 0 15px 0;
        }
      }
    }
    .g-links{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      display: table;
      margin-bottom: 25px;
    }
  }

  .c-pay-history {
    padding: 0px;
    background-color: #1e212a;
    table {
      tr {
        margin-bottom: 25px;
        display: table;
        background-color: #12151d;
        width: 100%;
        td {
          .icon {
            position: absolute;
            margin-left: -30px;
            margin-top: -3px;
          }
          border-top: none;
          padding: 5px 5px 5px 30px;
          width: 100%;
          display: inline-block;
        }
      }
    }
  }
}

.block__flags {
  display: block;
  width: 156px;
  height: 40px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #5a5a5a;
  .flags__icon:nth-child(3) {
    margin-right: 0;
  }
  .flags__icon {
    width: 30px;
    height: 25px;
    background-size: 100% 100%;
    border: 1px solid #6b6b6b;
    margin: 0 10px;
    float: left;
  }
}

.с-head {
  padding-bottom: 35px;
  h1 {
    color: #e79624;
    font-weight: 400;
    font-size: 25pt;
    text-align: center;
  }
}

.g-questions-block {

  &.lite-theme {
    .js-questions-sly {
      display:none;
      background-color: #1b1d25;
      border: #bfbfbf14 solid 1px;
      color: white;
      height: auto;
      margin: 5px 0;
      padding: 10px;
      font-size: 15pt;
      line-height: 15pt;
      text-align: justify;
    }

    .js-questions-show {
      margin-top: 15px;
      color: white;
      padding: 15px;
      height: 50px;
      background: #1b1d25;
    }
    .js-questions-show.active {color: #ffa528;}
  }
  img {
    width: 100%;
  }
  a{
    color: #ffa525;
  }
  svg {
    transform: rotate(180deg);
  }
  .g-questions-item {


    .g-questions-head.show {
      height: auto;
      display: block;
      width: 100%;
      ul {
        display: block;
        opacity: 1;
        height: auto;
        width: 98%;
        //border-top: 1px solid #ffffff21;
        margin: 55px 0 0 0;
        li {
          display: block;
          padding: 10px 0 10px 15px;
          height: auto;
          opacity: 1;
        }
        .g-title-head {
          margin-bottom: 10px;
          padding: 10px 0;
        }
      }
      .g-icon-head {
        transform: rotate(180deg);
      }
    }

    .g-questions-head {
      height: auto;
      display: table;
      width: 100%;
      margin-bottom: 10px;
      transition: 1s;
      background: #1b1d25;
      ul {
        margin: 10px 0;
        height: 0;
        opacity: 0;
        display: none;
        li {
          height: 0;
          padding: 0;
          margin: 10px 0 0 0;
        }
      }

      .g-title-head {
        margin-bottom: 0;
        padding: 10px 0;
        float: left;
        width: 100%;
      }

      .g-icon-head {
        background-image: url("data:image/svg+xml;utf8,<svg class='rotate' xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7'><path style='fill:white' d='M.55 1.5L1.96.09 5.5 3.62 9.03.1l1.42 1.41L5.5 6.45z'/></svg>");
        background-repeat: no-repeat;
        background-position: center;
        float: right;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 20px;
      }
      padding: 10px 40px 10px 15px;
      font-style: initial;
      font-size: 15pt;
    }
  }
}

.g-questions-more {
  margin: 25px 10px;
  text-align: center;
  .g-more-head {
    margin-bottom: 10px;
  }
  a {
    color: #e79624;
    border-bottom: 1px dashed #ffa525;
    text-decoration: none;
    padding-bottom: 5px;
  }
}
.g-page-content{
  .s-form{
    width: 100%;
  }
  .s-soc-item{
    width: 100%;
    font-size: 13pt;

    .s-soc-name {
      margin-bottom: 5px;
    }

    .icon {

      &.icon-soc3-big {
         background-position: -56px 0px;
      }

      &.icon-soc2-big {
        background-position: -111px 0px;
        border-radius: 20px;
      }

      height: 50px;
      width: 50px;
      background-size: 161px;
      background-position: 0 0;
      border-radius: 10px;
    }


  }
  form {
    width: 100%;
    input::placeholder {
      color: rgba(255, 255, 255, 0.65);
    }
    .error::placeholder{
      color: rgba(255, 28, 81, 0.65) !important;
    }
    .b-error{
      border: 2px solid rgba(255, 28, 81, 0.65) !important;
      color: #ff1c51 !important;
    }
    .b-error-label {
      margin-top: 10px;
      width: 250px;
      display: block;
      font-size: 11pt;
      color: #ae1b40;
      text-align: left;
    }

    input:active, input:hover {
      border: 2px solid white;
    }

    input.b-date.b-input {
      text-indent: 1px;
    }

    input.b-input {
      text-indent: 15px;
    }

    input {
      background: none;
      border: 2px solid rgba(255, 255, 255, 0.65);
      padding: 10px 20px 10px 0;
      height: 40px;
      color: white;
    }
    button {
      width: 100%;
    }
  }
}
.g-page-content__right, .g-page-content__left {
  width: 100%;
  float: none;
  h1 {
    text-align: center;
  }
}

.c-game-block {
  height: 210px;
  .c-game-image {
    height: 210px;
  }
  .c-game-cont {
    padding: 10px;
    .c-game-info {
      position: absolute;
      left: 0;
      top: 70px;
      height: 120px;
      display: table;
      width: 100%;
      margin: 10px;
      padding-right: 20px;
      .c-game-info-row:last-child {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-right: 20px;
      }
      .c-game-info-row {
        text-align: right;
        .g-button {
          margin: 0;
          font-size: 8pt;
        }
        .c-game-select {
          float: left;
          font-size: 9pt;
          margin-top: 10px;
        }
        small {
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

#vk_groups {
  width: 100% !important;
  min-height: 10px;
  display: block;
}

.js-iframe-fullscreen {

}

.iframe-nav{
  position: absolute;
  top: 25%;
  margin: auto;
  width: 100%;
  text-align: center;
  a{
    background: #ff1c51;
    border-radius: 5px;
    padding: 20px;
    font-size: 20pt;
    text-decoration: none;
    color: white;
    margin: auto;
    text-align: center;
  }
}

.payment-frame{
  .payment-form{
    max-width: 450px;
  }
}

.js-swap-grid {
  .g-head_cont .g-crumbles {
    top: -15px;
  }
}