/* Стили которые относятся только к слайдеру на мобильной версии */

.g-slider{
  min-width: 100%;
  min-height: 100%;
  .lightSlider{
    //height: 200px !important;
    img {
      height: 100%;
      width: 100%;
      min-width: 100%;
      min-height: 200px;
    }
  }
}

#m-slider {

  width: 100% !important;
  height: 365px;
  margin-bottom: 10px;
  //margin-top: 10px;

  .m-slider-prev, .m-slider-next {
    width: 50px;
    //top: 30%;
    height: 100%;
    .icon{
    }
  }

  .m-slide {
    height: 365px !important;
    .m-slide-back {
      background-size: cover;
      max-width: 100%;

    }
    .m-slide-content {
      width: 100%;
      right: 0;
      top: 0;

      img {
        margin-left: auto;
        padding-right: 90px;
        padding-top: 10px;
      }

      p {
        font-size: 13pt;
        max-width: 80%;
        margin-left: auto;
        padding: 10px 50px 0 0;
      }

      .m-game-btn {
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: 50px;
        display: block;
        width: 200px;
      }
    }
    .m-slide-logo {

    }
  }
}