@media (max-width: 320px) {

  .page-en-mobile {

    .cabinet-user-block {
      margin-bottom: 15px;
    }

    .cabinet-game-block{
      margin-bottom: 15px;
    }

    .global-wrapper {
      margin-bottom: 15px;
    }

    .cabinet-user-menu-item {
      font-size: 11pt;
    }

    .cabinet-user-block {
      .icon.icon-settings5.popup-trigger {
        position: absolute;
        right: 0;
        margin-top: 3px;
      }
    }

    .abcdef{
      padding: 15px 0;
    }

    // Скрываем блок типа карты (для этого расширения можно не показыватся)
    .saved-cards .cards-list tr {
      th:nth-child(2), td:nth-child(2) {
        display: none;
      }
    }
    .cards-list{
      font-size: 10pt;
    }
    .saved-cards .cards-list tr td {
      font-size: 8pt;
    }

    .cabinet-pay-history {
      background-color: #181b22;
      padding-bottom: 15px;

      table tr {
        margin-bottom: 15px;
      }
    }
  }
}