@media (max-width: 320px) {

  .page-en-mobile {

    .game-head-container .global-crumbles {
      top: -5px;
    }
    .game-head{
      h1 {
        font-size: 25pt;
      }
    }

    .game-links {
      a{
        font-size: 10pt;
      }
    }
  }
}