@media (max-width: 768px) {

  .page-en-mobile {
    .popup .popup-content {
      height: 100%;
    }

    .popup-overlay {
      background-color: #12151d;
    }

    #main-slider .main-slide {
      .main-slide-content img {
        margin-left: auto;
        padding-right: 0;
        padding-top: 10px;
      }
      .main-slide-logo{
        text-align: center;
      }
    }

    // Подчеркивание кнопки в мобильном меню, отключил
    .mobile__menu .menu__container .g-header_menu .g-header_menu_item {
      &.g-header_menu_item_w-150 {
        width: 150px;
        border-bottom: 1px solid #dcdcdc2e;
        /* padding-bottom: 15px; */
        margin-bottom: 15px;
      }

      .menu__link {
        margin: auto;
        color: #e79624;
        /* border-bottom: 1px dashed #ffa525; */
        text-decoration: none;
      }
    }
  }

}
