@media (max-width: 320px) {

  .page-en-mobile {

    .cabinet-user-block {
      margin-bottom: 15px;
    }

    .cabinet-game-block{
      margin-bottom: 15px;
    }

    .global-wrapper {
      margin-bottom: 15px;
    }

    .cabinet-user-menu-item {
      font-size: 11pt;
    }
    
    .cabinet-user-block {
      .icon.icon-settings5.popup-trigger {
        position: absolute;
        right: 0;
        margin-top: 3px;
      }
    }
  }
}